In [34]:
import pandas as pd
import os

In [35]:
# Read the data
possible_paths = [
    'C:/Users/lenne/OneDrive/Documenten/Master of Statistics and Data Science/2023-2024/Master thesis/Thesis_Sofia_Lennert/new_data',
    'C:/Users/anaso/Desktop/SOFIA MENDES/KU Leuven/Master Thesis/Thesis_Sofia_Lennert/new_data'
]
file = 'merged_data.csv'
path = next((f'{path}/{file}' for path in possible_paths if os.path.exists(f'{path}/{file}')), None)
pd.set_option('display.max_columns', None) # show all columns
data = pd.read_csv(path)
data['NRELAP'] = data['NRELAP'].fillna(0)
data.head()

,USUBJID,AGE,SEX,RACE,CONTINENT,CESEV,CECONTRT,TOTRELAP,MHCONTRT,MHDIAGN,CARDIO,URINARY,MUSCKELET,FATIGUE,SMSTDY,NRELAP,NHPT-before,NHPT-2y,NHPT-after_2y,PASAT_2s-before,PASAT_2s-2y,PASAT_2s-after_2y,PASAT_3s-before,PASAT_3s-2y,PASAT_3s-after_2y,SDMT-before,SDMT-2y,T25FW-before,T25FW-2y,T25FW-after_2y,T-before,T-after,P-before,P-after,N-before,N-after,DS,DS_L,DS_R,SLEC_before,SLEC_after,SES_after,SES_before,VAA,BDI-before,BDI-after,EDSS-before,EDSS-2y,EDSS-after_2y,KFSS1-Sensory-2y,KFSS1-Sensory-after_2y,KFSS1-Sensory-before,KFSS1-Brain-2y,KFSS1-Brain-after_2y,KFSS1-Brain-before,KFSS1-Bowel-2y,KFSS1-Bowel-after_2y,KFSS1-Bowel-before,KFSS1-Pyramidal-2y,KFSS1-Pyramidal-after_2y,KFSS1-Pyramidal-before,KFSS1-Cerebral-2y,KFSS1-Cerebral-after_2y,KFSS1-Cerebral-before,KFSS1-Visual-2y,KFSS1-Visual-after_2y,KFSS1-Visual-before,KFSS1-Cerebellar-2y,KFSS1-Cerebellar-after_2y,KFSS1-Cerebellar-before,KFSS_M-2y,KFSS_M-after_2y,KFSS_M-before,KFSS_P-2y,KFSS_P-after_2y,KFSS_P-before,RAND36_M-before,RAND36_M-after,RAND36_P-before,RAND36_P-after,SF12_M-before,SF12_M-after,SF12_P-before,SF12_P-after
0,MSOAC/0649,NaN,F,WHITE,NORTH AMERICA,NaN,NaN,NaN,Y,SPMS,0,1,0,1,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.35,10.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MSOAC/2224,38.0,F,WHITE,EUROPE,NaN,NaN,NaN,NaN,RRMS,0,1,0,0,NaN,0.0,27.80,26.55,NaN,NaN,NaN,NaN,55.0,56.0,NaN,38.0,42.0,8.90,8.85,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,30.0,30.0,1.25,1.25,NaN,0.380952,0.388889,3.00,3.0,NaN,0.000000,NaN,0.000000,0.2,NaN,0.2,0.000000,NaN,0.000000,0.5,NaN,0.500000,0.0,NaN,0.0,0.000000,NaN,0.0,0.0,NaN,0.0,0.148148,NaN,0.148148,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,0.8,0.7,0.5,0.5
2,MSOAC/0576,50.0,F,WHITE,NaN,NaN,NaN,NaN,Y,PPMS,0,1,0,1,NaN,0.0,17.75,18.65,17.90,51.0,56.5,56.5,59.0,59.0,59.5,NaN,NaN,4.55,4.70,5.15,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.75,4.0,4.25,0.333333,0.250000,0.333333,0.0,0.0,0.1,0.250000,0.166667,0.333333,0.5,0.500000,0.500000,0.0,0.2,0.0,0.083333,0.083333,0.0,0.4,0.4,0.3,0.240741,0.277778,0.259259,0.166667,0.125000,0.166667,0.628571,0.671429,0.594937,0.531646,NaN,NaN,NaN,NaN
3,MSOAC/4961,44.0,F,WHITE,NaN,NaN,NaN,NaN,Y,PPMS,0,1,1,1,NaN,0.0,19.75,19.45,20.60,38.5,52.0,54.0,55.5,59.0,58.0,NaN,NaN,4.00,4.90,5.60,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,3.5,3.50,0.333333,0.250000,0.333333,0.0,0.1,0.0,0.166667,0.250000,0.250000,0.5,0.500000,0.416667,0.0,0.2,0.0,0.000000,0.000000,0.0,0.2,0.3,0.3,0.185185,0.277778,0.222222,0.083333,0.125000,0.125000,0.614286,0.614286,0.582278,0.645570,NaN,NaN,NaN,NaN
4,MSOAC/5990,52.0,F,WHITE,NaN,NaN,NaN,NaN,Y,PPMS,1,1,0,1,NaN,0.0,21.45,21.35,22.75,22.0,23.5,22.0,35.0,41.5,44.0,NaN,NaN,11.40,16.80,30.20,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00,6.0,6.50,0.166667,0.333333,0.166667,0.2,0.2,0.2,0.166667,0.166667,0.166667,0.5,0.666667,0.500000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.4,0.0,0.222222,0.333333,0.185185,0.083333,0.166667,0.083333,0.600000,0.742857,0.506329,0.531646,NaN,NaN,NaN,NaN

In [36]:
input_columns = ['AGE', 'SEX', 'RACE', 'CONTINENT', 'CECONTRT', 'MHCONTRT', 'MHDIAGN', 'CARDIO', 'URINARY', 'MUSCKELET', 'FATIGUE',
                  'NHPT-before', 'PASAT_2s-before', 'PASAT_3s-before', 'SDMT-before', 'T25FW-before', 'T-before', 'P-before', 
                  'N-before', 'SLEC_before', 'SES_before', 'BDI-before', 'EDSS-before', 'KFSS_M-before', 'KFSS_P-before', 
                  'RAND36_M-before', 'RAND36_P-before', 'SF12_M-before', 'SF12_P-before']

# FOR NOW I INCLUDED ALL OUTPUTS BUT WE WONT END UP USING ALL PROBABLY 
output_columns = ['CESEV', 'TOTRELAP', 'SMSTDY', 'NRELAP', 'NHPT-2y', 'NHPT-after_2y', 'PASAT_2s-2y', 'PASAT_2s-after_2y', 
                  'PASAT_3s-2y', 'PASAT_3s-after_2y', 'SDMT-2y', 'T25FW-2y', 'T25FW-after_2y', 'T-after', 'P-after', 'N-after',
                  'SLEC_after', 'SES_after', 'VAA', 'BDI-after', 'EDSS-2y', 'EDSS-after_2y', 'KFSS_M-2y', 'KFSS_M-after_2y', 
                  'KFSS_P-2y', 'KFSS_P-after_2y', 'RAND36_M-after', 'RAND36_P-after', 'SF12_M-after', 'SF12_P-after']

inputs = data[input_columns]
outputs = data[output_columns]

Questions
- CECONTRT & MHCONTRT: input or output? put as input for now -- also what is the difference between both? MIGHT DROP LATER BC MANY MISSING VALUE
- TOTRELAP vs NRELAP --> which one do we use as output? cuz i dont think we can use both, they are way too correlated (unless we predict both as outcomes but i dont see the value of that?)
- for now ignored DS
- VAA: not sure if it's an output, time wasnt recorded for it so dont know if we can use as input
- KFSS the separate components didn't put yet for now cuz idk if we can include BOTH separate as well as total (think we have to choose 1 of the two approaches to include but not sure)

**choose 10 or so final outputs that we'll end up using**

### Find the information for the big table in Overleaf

In [37]:
# Calculate descriptive statistics for numeric columns
numeric_stats = round(outputs.describe(), 1)

# Add missing values percentage
missing_percentage = outputs.isnull().mean() * 100
numeric_stats.loc['% Missing'] = round(missing_percentage, 1)

numeric_stats.T

,count,mean,std,min,25%,50%,75%,max,% Missing
TOTRELAP,1206.0,3.7,3.3,1.0,1.0,2.0,6.0,17.0,51.1
SMSTDY,836.0,267.5,237.2,1.0,82.8,203.0,375.2,1454.0,66.1
NRELAP,2465.0,0.6,1.1,0.0,0.0,0.0,1.0,9.0,0.0
NHPT-2y,1610.0,27.1,15.2,10.9,19.9,23.3,29.3,300.0,34.7
NHPT-after_2y,646.0,27.4,15.3,13.1,19.6,23.2,29.4,176.4,73.8
PASAT_2s-2y,770.0,38.3,12.7,3.0,28.5,39.0,48.5,60.0,68.8
PASAT_2s-after_2y,347.0,41.6,13.0,1.0,32.8,43.0,53.0,60.0,85.9
PASAT_3s-2y,1608.0,48.5,11.4,5.0,43.0,52.2,57.5,60.0,34.8
PASAT_3s-after_2y,644.0,51.3,10.5,11.0,48.0,55.5,59.0,60.0,73.9
SDMT-2y,496.0,49.2,15.7,0.0,39.0,50.0,59.0,110.0,79.9
T25FW-2y,1668.0,12.1,15.7,2.8,5.3,7.2,12.0,180.0,32.3
T25FW-after_2y,612.0,12.2,16.7,2.7,4.9,6.8,11.3,142.3,75.2
T-after,1365.0,0.0,0.2,0.0,0.0,0.0,0.0,1.0,44.6
P-after,1320.0,0.0,0.1,0.0,0.0,0.0,0.0,1.0,46.5
N-after,1014.0,0.1,0.2,0.0,0.0,0.0,0.0,1.0,58.9
SLEC_after,784.0,21.8,12.6,0.0,12.0,23.0,32.0,52.0,68.2
SES_after,784.0,1.1,0.3,0.1,1.0,1.2,1.2,1.2,68.2
VAA,773.0,0.2,0.4,0.0,0.0,0.0,0.0,1.0,68.6
BDI-after,682.0,0.2,0.1,0.0,0.1,0.1,0.2,0.8,72.3
EDSS-2y,1614.0,4.0,1.9,0.0,2.2,4.0,6.0,8.0,34.5
EDSS-after_2y,647.0,4.3,2.1,0.0,2.5,4.0,6.0,8.5,73.8
KFSS_M-2y,1310.0,0.2,0.1,0.0,0.1,0.2,0.3,0.8,46.9
KFSS_M-after_2y,530.0,0.2,0.1,0.0,0.1,0.2,0.3,0.6,78.5
KFSS_P-2y,1310.0,0.1,0.1,0.0,0.0,0.1,0.2,0.8,46.9
KFSS_P-after_2y,530.0,0.2,0.1,0.0,0.1,0.2,0.2,0.8,78.5
RAND36_M-after,1034.0,0.7,0.1,0.0,0.6,0.7,0.7,0.8,58.1
RAND36_P-after,1034.0,0.6,0.1,0.3,0.5,0.6,0.7,0.8,58.1
SF12_M-after,495.0,0.7,0.1,0.4,0.6,0.7,0.8,0.9,79.9
SF12_P-after,495.0,0.7,0.1,0.4,0.6,0.7,0.7,0.8,79.9

T, P, N-after & VAA should be put with the categorical ones I think? (binary)

In [38]:
# Filter categorical columns
categorical_columns = ['CESEV', 'T-after', 'P-after', 'N-after', 'VAA']

# Initialize an empty list to store the results
categorical_stats = []

# Loop through each categorical column
for column in categorical_columns:
    # Count non-missing values
    non_missing_count = outputs[column].count()
    
    # Calculate percentage of missing values
    missing_percentage = (1 - non_missing_count / len(outputs)) * 100
    
    # Calculate mode (most frequent value)
    mode_value = outputs[column].mode().iloc[0]
    
    # Append the statistics to the list
    categorical_stats.append({
        'Column': column,
        'Count': non_missing_count,
        '% Missing': missing_percentage,
        'Mode': mode_value
    })

# Create a DataFrame from the list of dictionaries
categorical_stats_df = pd.DataFrame(categorical_stats)
categorical_stats_df

    Column  Count  % Missing      Mode
0    CESEV    940  61.866126  MODERATE
1  T-after   1365  44.624746       0.0
2  P-after   1320  46.450304       0.0
3  N-after   1014  58.864097       0.0
4      VAA    773  68.640974       0.0

In [39]:
dfs_per_column = {}

# Loop through each categorical column
for column in categorical_columns:
    # Create a DataFrame for the current column with unique values as rows
    unique_values_df = pd.DataFrame(outputs[column].value_counts(normalize=True)).reset_index()
    unique_values_df.columns = [column, 'Frequency Percentage']
    
    # Round the frequency percentage to one decimal place and multiply by 100
    unique_values_df['Frequency Percentage'] = (unique_values_df['Frequency Percentage'] * 100).round(1)
    
    # Add the DataFrame to the dictionary
    dfs_per_column[column] = unique_values_df

dfs_per_column['CESEV']

      CESEV  Frequency Percentage
0  MODERATE                  56.8
1      MILD                  25.3
2    SEVERE                  17.9

In [40]:
dfs_per_column['T-after']

   T-after  Frequency Percentage
0      0.0                  97.4
1      1.0                   2.6

In [41]:
dfs_per_column['P-after']

   P-after  Frequency Percentage
0      0.0                  97.8
1      1.0                   2.2

In [42]:
dfs_per_column['N-after']

   N-after  Frequency Percentage
0      0.0                  94.0
1      1.0                   6.0

In [43]:
dfs_per_column['VAA']

   VAA  Frequency Percentage
0  0.0                  76.6
1  1.0                  23.4